<% if @todo.errors.any? %>
  <h2>The following errors prevented the todo from been saved:</h2>
  <ul>
  	<% @todo.errors.full_messages.each do |msg| %>
  	  <li><%= msg %></li>
  	<% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= form_for @todo do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2 offset-md-2">
            <%= f.label :name %><br>
          </div>
          <div class="col-md-8 offset-md-2">
            	<%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-md-2 offset-md-2">
        	  <%= f.label :description %><br>
          </div>
          <div class="col-md-8 offset-md-2">
        	  <%= f.text_area :description, rows: 10, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="offset-md-2">
        	  <%= f.submit class: "btn ml-3 btn-outline-primary btn-lg btn-xlarge" %>  
          </div>
        </div>
    <% end %>

    <div class="col-md-6 offset-md-3 text-center">
      [ <%= link_to "Cancel request and return to todos index",
             todos_path, class: "colormatch" %>   ]
    </div>
  </div>
</div>

