<%= render 'shared/page_title', title: @todo.name %>

<div class="col-md-8 offset-md-2 card bg-light">
	<h3 class="text-center"><strong>Things to Do: </strong></h3>
	<hr />

	<%= simple_format(@todo.description) %>
    <hr />

      <div class="recipe-actions">
    	<%= link_to "Edit this todo", edit_todo_path(@todo), 
    	  class: "btn btn-xs btn-outline-warning" %>
    	<%= link_to "Delete this todo", todo_path(@todo), method: :delete,
    	 data: { confirm: "Are you sure you want to delete this todo?" },
    	 class: "btn btn-xs btn-outline-danger" %>  
    	<%= link_to "Return to todos index", todos_path, 
    	class: "btn btn-xs btn-outline-primary" %> 
      </div>
    </div>
</div>

